<nav class="navbar">
  <a href="/" class="navbar-brand">
    <div class="brand-icon">🧬</div>
    Akram Biology
  </a>
  <ul class="nav-menu">
    <li><a href="/#about">About</a></li>
    <li><a href="/#topics">Topics</a></li>
    <li><a href="/#schedule">Schedule</a></li>
    <li><a href="/#contact">Contact</a></li>
  </ul>
  <a href="/enroll" class="btn-nav">Enroll Now →</a>
</nav>
